@import url('https://fonts.googleapis.com/css2?family=Lilex:ital,wght@0,100..700;1,100..700&family=Major+Mono+Display&family=Quicksand:wght@300..700&display=swap');

    .major-mono-display-regular {
      font-family: "Major Mono Display", monospace;
      font-weight: 400;
      font-style: normal;
    }

    * {
      margin: 0;
      padding: 0;
    }

    body {
      height: 100vh;
      width: 100vw;
      --color: rgba(114, 114, 114, 0.3);
      background-color: black;
      background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
      background-size: 55px 55px;
    }

    .capa {
      display: flex;
      justify-content: center;
      height: 100vh;
      width: 100vw;
    }

    .texto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.2em;
      width: 50%;
    }

    #capa-titulo {
      font-size: 4em;
      text-shadow: 2px 2px 4px black;
      margin-bottom: 0.1em;
      font-family: "Major Mono Display", monospace;
      color: #E000AC; 
    }

    #capa-subtitulo {
      font-size: 1.1em;
      margin-bottom: 0.5em;
      font-family: "Lilex", sans-serif;
      font-weight: 300;
      font-style: italic;
      color: #87E000;
    }

    .imagem {
      width: 50%;
      background-image:
        /* linear-gradient(to left, transparent, black 90%),  */
        url('img/placa.jpg');
      filter: brightness(0.7) grayscale();
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }

    .links {
      position: absolute;
      bottom: 0px;
      height: 5%;
      width: 100%;
      background-color: rgba(0, 240, 0, 0.129);
    }

    .material-symbols-outlined {
      font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
      color: white;
    }

    .links .material-symbols-outlined {
      font-size: 1.6em;
      cursor: pointer;
      margin: 0 0.5em;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-touch-callout: none;
    }